@import url("https://fonts.googleapis.com/css2?family=ubuntu:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.web-page {
  background-color: #eceff1;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.web-page .container {
  background-color: #fff;
  width: 100%;
  max-width: 25rem;
  min-height: 22rem;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 1px 1px 10px -8px rgba(0, 0, 0, 1);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.web-page .container .section-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  align-items: center;
  color: #26a69a;
}

.container .section-head h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.container .file-uploading-label {
  padding: 3rem;
  background-image: linear-gradient(
    180deg,
    #fafafa 0%,
    #e1f5fe 100%,
    #e4fafc 100%,
    #e0f2f1 100%
  );
  border: 1px dashed #4db6ac;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  cursor: pointer;
  position: relative;
}

.container .file-input {
  display: none;
}

.file-uploading-label .page-drag-browse {
  opacity: 1;
  visibility: visible;
  transition-duration: 0.1s;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.drag-over div.drag:first-child {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.drag-over div.drag:last-child {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.cloud-img {
  display: flex;
  justify-content: center;
}

.text-upload-label {
  text-align: center;
  font-size: 12px;
  color: #616161;
}

.drag-drop-text {
  color: #9e9e9e;
}

.text-support {
  font-size: 20px;
  text-align: center;
  margin-top: 0.5rem;
  color: #9e9e9e;
}

.text-drop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: #9e9e9e;
  transition-duration: 0.1s;
  transform: scale(0.6);
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  opacity: 1;
  visibility: hidden;
}

.browse-files {
  text-decoration: underline;
  font-weight: 700;
  font-size: 15px;
}

.section-limit {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 10px;
  margin-bottom: 1rem;
  color: #757575;
}

span.max-size {
  font-weight: 600;
  margin: 0.2rem 0.1rem;
}

.file-size,
.name {
  font-weight: 600;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 8px;
}

.list-item:hover {
  box-shadow: 0px 0px 4px 0px rgb(236, 236, 236),
    0px 10px 16px 0px rgb(238, 238, 238);
}

/* add featuer progress bar*/

.left-item {
  display: flex;
  width: 400px;
}

/* .left-item {
  display: flex;
  width: 300px;
} */

/* .span-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
  width: 100%;
} */

.span-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
  width: 100%;
}

.text-top-progress {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

/* .text-top-progress {
  display: flex;
  justify-content: space-between;
} */

.progress-percentage {
  display: none;
  font-size: 12px;
}

.close {
  display: block;
  font-size: 20px;
  color: #26a69a;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

.checkmark {
  display: none;
  font-size: 20px;
  color: #26a69a;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

.file-progress span {
  display: none;
  /* width: 100%; */
  height: 4px;
  margin-top: 0.5rem;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  background-image: linear-gradient(120deg, #acc6ff, #26a69a);
}

.file-list {
  list-style: none;
  overflow-y: auto;
  max-height: 180px;
  scrollbar-color: #26a69a transparent;
  scrollbar-width: thin;
}

.text-head {
  font-size: 20px;
  font-weight: 600;
  margin-top: 0.5rem;
  color: #9e9e9e;
}
